body {
    background: rgb(243, 243, 229);
    text-align: center;
}
#img {
    width: 100%;
    border: rgb(78, 86, 114);
    border-width: 10px;
}
h1 {
    color: rgb(56, 121, 67);
}
h2 { 
    color: indigo;
}
h3 {
    color: rgb(131, 129, 111);
}

nav
{
    background: rgb(79, 99, 57);
    display: flex;
    flex-direction: column;
    font-size: 40px;
    padding-bottom: 20px;
}

@media (orientation: landscape) {
    nav {
        flex-direction: row;
    }
}

#box {
    border: 1px solid rgb(131, 129, 111);
    padding-top: 20px;
    padding-bottom: 20px;
}
